@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .herobutton {
    @apply px-7 py-0 border-[#242424] rounded-full uppercase text-sm tracking-widest text-white transition-all
    hover:border-[#01cdfa] hover:text-[#01cdfa];
  }
}


body {
  font-family: 'Oxanium', sans-serif;
}

@keyframes subtleFloat {
  0%   { transform: translateY(0) translateX(0); opacity: 0.9; }
  50%  { transform: translateY(-2px) translateX(1px); opacity: 0.7; }
  100% { transform: translateY(0) translateX(0); opacity: 0.9; }
}

.particle-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image:
    radial-gradient(white 1.2px, transparent 0),
    radial-gradient(#ffffffcc 1px, transparent 0),
    radial-gradient(#ffffff88 0.8px, transparent 0),
    radial-gradient(#ffffffaa 1px, transparent 0);
  background-size: 120px 120px, 180px 160px, 250px 200px, 300px 260px;
  background-position:
    0 0,
    50px 30px,
    100px 100px,
    200px 150px;
  animation: subtleFloat 10s ease-in-out infinite;
  opacity: 0.4;
  z-index: 0;
  pointer-events: none;
}

.particle-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/aurora.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  scale: 1.5;
  margin-top: 200px;
}
